<div class="container">
	<div class="row"> 
		<div class= "col-2">
			<table class="table table-bordered table-striped">
				<thead class="table-light table-dark">
					<tr>
						<th><h3>Languages</h3></th>
					</tr>
				</thead>
				<tbody>
					<%@languages.each do |language|%>
					<tr>
						<td><h5><%=language.language%></h5></td>
					</tr>
					<%end%>
				</tbody>
			</table>
		</div>
		<div class="col"> 
				<%=wicked_pdf_image_tag"http://localhost:3000/#{@project.project_name}.png"%>	
		</div>
	</div>
	<div>
			<table class="table table-bordered table-striped">
			<thead class="table-light table-dark">
				<tr>
					<th><h3>Models(<%=@project.models_count%>)</h3></th>
					<th><h3>Controllers(<%=@project.controllers_count%>)</h3></th>
					<th><h3>Views(<%=@project.views_count%>)</h3></th>
				</tr>
			</thead>
			<tbody class="table-grey">
				<tr>
					<td>
						<%@models.each do |model_file|%>
						<h5><%=model_file.split('/',11).last%></h5>
						<%end%>
					</td>
					<td>
						<%@controllers.each do |controller_file|%>
						<h5><%=controller_file.split('/',11).last%></h5>
						<%end%>
					</td>
					<td>
						<%@views.each do |view_file|%>
						<h5><%=view_file.split('/',11).last%></h5>
						<%end%>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<table class="table table-bordered table-striped">
		<thead class="table-dark">
			<tr>
				<th scope="col"><h3>File name</h3></th>
				<th scope="col"><h3>Lines</h3></th>
				<th scope="col"><h3>Words</h3></th>
				<th scope="col"><h3>Letters</h3></th>
				<th scope="col"><h3>Spaces</h3></th>
			</tr>
		</thead>
		<tbody>
			<%@project_stats.each do |project_stat|%>
			<tr>
				<td><h5><%=project_stat.file_name%></h5></td>
				<td><h5><%=project_stat.lines%></h5></td>
				<td><h5><%=project_stat.words%></h5></td>
				<td><h5><%=project_stat.letters%></h5></td>
				<td><h5><%=project_stat.spaces%></h5></td>
			</tr>
			<%end%>
		</tbody>
	</table>
</div>
