<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">file_name</th>
      <th scope="col">lines</th>
      <th scope="col">words</th>
      <th scope="col">letters</th>
      <th scope="col">spaces</th>
    </tr>
  </thead>
  <tbody>
    <%@project_stats.each do |project_stat|%>
    <tr>
      <td><%=project_stat.file_name%></td>
      <td><%=project_stat.lines%></td>
      <td><%=project_stat.words%></td>
      <td><%=project_stat.letters%></td>
      <td><%=project_stat.spaces%></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>