<div class="container">
  <table class="table table-bordered">
  <thead>
      <tr>
        <th scope="col"><h3>Languages</h3></th>
      </tr>
  </thead>
  <tbody>
    <%@project.languages.each do |project|%>
    <tr>
      <td><h5><%=project%></h5></td>
    </tr>
    <%end%>
  </tbody>
</table>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><h3>File name</h3></th>
      <th scope="col"><h3>Lines</h3></th>
      <th scope="col"><h3>Words</h3></th>
      <th scope="col"><h3>Letters</h3></th>
      <th scope="col"><h3>Spaces</h3></th>
    </tr>
  </thead>
  <tbody>
    <%@project_stats.each do |project_stat|%>
    <tr>
      <td><h5><%=project_stat.file_name%></h5></td>
      <td><h5><%=project_stat.lines%></h5></td>
      <td><h5><%=project_stat.words%></h5></td>
      <td><h5><%=project_stat.letters%></h5></td>
      <td><h5><%=project_stat.spaces%></h5></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>