<div class="container">
<table class="table table-bordered">
	<thead>
			<tr>
				<th scope="col"><h3>Languages</h3></th>
			</tr>
	</thead>
	<tbody>
		<%@project.languages.each do |project|%>
		<tr>
			<td><h5><%=project%></h5></td>
		</tr>
		<%end%>
	</tbody>
</table>
<table class="table table-bordered">
	<thead>
			<tr>
				<th scope="col"><h3>Models files(<%=@models.count%>)</h3></th>
			</tr>
	</thead>
	<tbody>
		<%@models.each do |project|%>
		<tr>
			<td><h5><%=project%></h5></td>
		</tr>
		<%end%>
	</tbody>
</table>
<table class="table table-bordered">
	<thead>
			<tr>
				<th scope="col"><h3>Contollers files(<%=@controllers.count%>)</h3></th>
			</tr>
	</thead>
	<tbody>
		<%@controllers.each do |controller|%>
		<tr>
			<td><h5><%=controller%></h5></td>
		</tr>
		<%end%>
	</tbody>
</table><table class="table table-bordered">
	<thead>
			<tr>
				<th scope="col"><h3>Views files(<%=@views.count%>)</h3></th>
			</tr>
	</thead>
	<tbody>
		<%@views.each do |view|%>
		<tr>
			<td><h5><%=view%></h5></td>
		</tr>
		<%end%>
	</tbody>
</table>
</div>
<%= link_to "DOWNLOAD PDF", projects_show_path(:id=>@project.id, format: :pdf) %>
